body{
    background-image: url(/images/bg.jpg);
    margin: 0;
    background-attachment: fixed;
  

}
header div{
    text-align: center;
    color: white;
   
}
header img{
width: 70%;
}
header div span{
  position: relative;
  margin-top: 10px;
}
/*fin du header -------*/

/*début de ma 1ère séction---*/


section:first-of-type{
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
   margin: auto;
    
}
section:first-of-type div{
  
    background-color: white;
    padding: 10px;
}
section:first-of-type h1{
    
    text-transform: uppercase;
}
section:first-of-type div:first-of-type p{
 
    color: whitesmoke;
    text-transform: uppercase;
}
section:first-of-type hr{
    width: 15%;
}
section:first-of-type div:last-of-type{
    background-color: rgba(245, 245, 245, 0.863);
    padding: 50px;
    
}
/* fin de ma première séction--*/
/*début de ma deuxième séction -- */

section:nth-of-type(2){
    display: flex;
    flex-direction: column;
    background-color:rgb(49, 46, 46);
    text-align: center;
    padding-top:8%;
    padding-bottom:8%;
    width: 70%;
    margin: auto;
}
section:nth-of-type(2) div{
    background-color: black;
    width: 70%;
    margin: auto;
    

}
section:nth-of-type(2) h2{
    color: white;
}
section:nth-of-type(2) hr{
    width: 5%;
    color:rgba(245, 245, 245, 0.904);
}
section:nth-of-type(2) p{
    color: rgba(245, 245, 245, 0.822);
    text-transform: uppercase;
}
/*1 ere div background color black section 2---*/

section:nth-of-type(2) .image1{
    display: flex;
    width: 70%;
    flex: 1;
  }
section:nth-of-type(2) .image1 div:first-of-type img{
  width: 100%;
}
section:nth-of-type(2) .image1 div:last-of-type img{
width: 100%;
}
/* fin de la 1ère image de la class "image1" dans la deuxième section*/

section:nth-of-type(2) .image2{
    display: flex;
    flex: 1;
    width: 70%;
}
section:nth-of-type(2) .image2 div:first-of-type img{
    width: 100%;
  }
  
section:nth-of-type(2) .image2 div:last-of-type img{
    width: 100%;
    }
    /* /* fin de la 2ème image de la class "image3" dans la deuxième section*/
    
    /* fin de ma 2 ème section--- */

    /*Début de ma 3ème Section---*/
    
    section:last-of-type .image3{
     display: flex;
     width: 70%;
     margin: auto;
     text-align: center;
     justify-content: center;
  
    }
        
   
    section:last-of-type .image3 div:first-of-type img{
        width: 100%;
    }
       
    
 section:last-of-type div:last-of-type{
    
   background-color: white;
   width: 100%;
}
 
/* fin de premierè div d'image et texte  */

section:last-of-type .texte4{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    
  
}


section:last-of-type .texte4 div:first-of-type{
    background: black;
    flex: 1;
  
}
section:last-of-type .texte4 div:first-of-type h2{
    color: white;
}
section:last-of-type .texte4 div:first-of-type p{
    color: whitesmoke;
}

section:last-of-type .texte4 div:last-of-type{
    text-align: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    
}
section:last-of-type .texte4 div:last-of-type img{
    width: 100%;
}
/* fin de la deuxième div d'image------ */


section:last-of-type .image3{
    display: flex;
    flex: 1;
    width: 70%;
    margin: auto;
    text-align: center;
    justify-content: center;
  
}

section:last-of-type .image3 div:first-of-type img{
 width: 100%;
}


section:last-of-type div:last-of-type{
background-color: white;
width: 100%;


}




       
 


    
   
    

   
    





      
     

      
        
       
   
   
       
       
      
       
        
      



           
           
            
        
         
          
            
       
       
        
     
            
         
      
           
    
     
  
      






